<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Menu</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <h1>Welcome to the Restaurant Menu App</h1>
    <form action="/restaurant" method="GET">
      <label for="restaurantId">Select a restaurant:</label>
      <select name="restaurantId" id="restaurantId">
        <% restaurants.forEach((restaurant) => { %>
        <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
        <% }) %>
      </select>
      <button type="submit">Get the menu!</button>
    </form>
  </body>
</html>
