<!-- 
Fullstack JavaScript Midterm Sprint
By: Brian Jackman
2024/11/03
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Menu</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <main class="main-content">
      <h1>Welcome to the Restaurant Menu App</h1>
      <form action="/menu" method="get">
        <label for="restaurantId">Select a restaurant:</label>
        <select name="restaurantId" id="restaurantId">
          <% restaurants.forEach((restaurant) => { %>
          <!-- Iterate over each restaurant -->
          <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
          <!-- Display restaurant name in dropdown -->
          <% }) %>
        </select>
        <button type="submit">View Menu</button>
        <!-- Button to submit the form and view the menu -->
      </form>
      <br />
      <a href="/alerts"><button>View Alerts</button></a>
      <!-- Button to navigate to the alerts page -->
    </main>
  </body>
</html>
